body {
  font-family: Arial, sans-serif;
  background: #0a2a74;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: rgb(54, 76, 217);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 300px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #124377;
  border-radius: 5px;
}

button {
  padding: 8px 10px;
  border: none;
  background-color: #e5eaef;
  color: rgb(17, 34, 63);
  border-radius: 5px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

li {
  background: #86868b;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

li.completada {
  text-decoration: line-through;
  color: rgb(128, 122, 122);
}

.btn-delete {
  background: red;
  color: rgb(103, 96, 96);
  border: none;
  padding: 4px 6px;
  border-radius: 3px;
  cursor: pointer;
}
